---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<head>
  <link rel="icon" type="image/jpg" href="favicon.svg" />
</head>
<body>
  <BaseLayout>
    <h1>about</h1>
  </BaseLayout>
</body>
