---
import Navbar from "../components/Navbar.astro"
import Banner from "../components/Banner.astro"
import Services_box from "../components/Services_box.astro"
import Footer from "../layouts/Footer.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/favicon.svg" type="image/svg+xml">
    <title>Services</title>
</head>
<body>
    <Navbar />
    <Banner title="Services" />
    <Services_box/>
    <Footer />
</body>
</html>