<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>

  <style>
    body {
      font-family: "Lora", serif !important;
      margin: 0;
      padding: 0;
    }

    .lora-font {
      font-family: "Lora", serif !important;
    }
    /*-- -------------------------- -->
    <---            Hero            -->
    <--- -------------------------- -*/

    /* Mobile - 360px */
    @media only screen and (min-width: 0rem) {
      #hero-856 {
        /* centers button */
        text-align: center;
        padding: 60px 1rem clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
        background-color: #e2d9b9;
        overflow: hidden;
        position: relative;
        z-index: 1;
      }
      #hero-856 .cs-container {
        width: 100%;
        max-width: 80rem;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 3rem;
      }
      #hero-856 .cs-content {
        max-width: 39.375rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      #hero-856 .cs-topper {
        font-size: 1rem;
        line-height: 1.2em;
        text-transform: uppercase;
        text-align: inherit;
        letter-spacing: 0.1em;
        font-weight: 700;
        color: var(--primary);
        margin-bottom: 0.25rem;
        display: block;
        font-family: "Lora", serif;
      }
      #hero-856 .cs-title {
        /* 39px - 61px */
        font-size: clamp(2.4375rem, 5vw, 3.8125rem);
        font-weight: 900;
        line-height: 1.2em;
        text-align: center;
        max-width: 23ch;
        margin: 0 0 1rem 0;
        color: var(--headerColor);
        position: relative;
        font-family: "Lora", serif;
        font-style: italic;
      }
      #hero-856 .cs-text {
        /* 16px - 20px */
        font-size: clamp(1rem, 1.5vw, 1.25rem);
        line-height: 1.5em;
        text-align: center;
        width: 100%;
        max-width: 33.1875rem;
        /* 28px - 40px */
        margin: 0 0 clamp(1.75rem, 3.92vw, 2.5rem) 0;
        color: var(--bodyTextColor);
        font-family: "Lora", serif;
      }
      .cs-button-solid {
        font-family: "Lora", serif;
        font-size: 1rem;
        line-height: clamp(2.875rem, 5.5vw, 3.5rem);
        text-decoration: none;
        font-weight: 700;
        text-align: center;
        margin: 0;
        color: white;
        min-width: 9.375rem;
        padding: 0 1.5rem;
        background-color: #ffba43;
        border-radius: 0.25rem;
        display: inline-block;
        position: relative;
        z-index: 1;
        box-sizing: border-box;
        border: none;
      }

      .cs-button-solid:before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0%;
        background: black;
        opacity: 1;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 0.25rem;
        transition: width 0.3s;
      }

      .cs-button-solid:hover:before {
        width: 100%;
      }

      #hero-856 .cs-picture {
        width: 100%;
        max-width: 35.625rem;
        height: clamp(25rem, 95vw, 44.5rem);
        /* 100px - 200px */
        border-radius: 0 clamp(6.25rem, 17vw, 12.5rem) 0
          clamp(6.25rem, 17vw, 12.5rem);
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.16);
        overflow: hidden;
        display: block;
        position: relative;
      }
      #hero-856 .cs-picture img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
      }
      #hero-856 .cs-wave {
        width: 320%;
        height: auto;
        display: block;
        position: absolute;
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        z-index: -1;
      }
    }
    /* Small Desktop - 1024px */
    @media only screen and (min-width: 64rem) {
      #hero-856 {
        text-align: left;
      }
      #hero-856 .cs-container {
        flex-direction: row;
        justify-content: space-between;
      }
      #hero-856 .cs-content {
        width: 40vw;
        flex: none;
        align-items: flex-start;
        order: 2;
      }
      #hero-856 .cs-title,
      #hero-856 .cs-text {
        text-align: left;
      }
      #hero-856 .cs-picture {
        height: clamp(38.9375rem, 60vw, 50.875rem);
      }
      #hero-856 .cs-wave {
        width: 100%;
        left: 0;
        transform: scaleX(-1);
      }
    }
  </style>

  <body>
    <section id="hero-856">
      <div class="cs-container">
        <div class="cs-content">
          <span class="cs-topper"></span>
          <h1 class="cs-title">Turning Dreams into Reality</h1>
          <section id="about-us">
            <p>
              Welcome to <strong>Shubh Sandarbh</strong>, your trusted partner
              in crafting unforgettable Indian weddings. We specialize in
              creating beautiful celebrations, whether you envision a
              traditional North Indian wedding, a vibrant South Indian ceremony,
              or a unique fusion of both.
            </p>

            <h3>Who We Are</h3>
            <p>
              At <strong>Shubh Sandarbh</strong>, we are a team of experienced
              wedding planners passionate about bringing your wedding dreams to
              life. With our deep understanding of Indian wedding traditions and
              customs, we ensure every detail is handled with care, from
              intimate pre-wedding events to grand receptions.
            </p>

            <h3>Why Choose Us?</h3>
            <div>
              <p>
                <strong>Expertise in Weddings:</strong> We have extensive
                experience in both North and South Indian wedding traditions,
                ensuring an authentic and culturally rich experience.
              </p>
              <p>
                <strong>Personalized Planning:</strong> We believe every couple
                is unique. Our tailored planning process focuses on your
                specific vision, style, and needs.
              </p>
              <p>
                <strong>Attention to Detail:</strong> Our team is committed to
                flawless execution, managing every aspect of your event to
                provide a seamless and stress-free experience.
              </p>
            </div>

            <h3>Start Planning Your Dream Wedding</h3>
            <p>
              At <strong>Shubh Sandarbh</strong>, we are dedicated to making
              your wedding day as special and unique as your story. Let us help
              you create a beautiful and memorable celebration that you and your
              guests will cherish forever. Contact us today to begin your
              journey.
            </p>
          </section>

          <a href="/contactus/" class="cs-button-solid"
            >Schedule An Appointment</a
          >
        </div>
        <!--Hero Image-->
        <picture class="cs-picture">
          <!--Mobile-->
          <source
            media="(max-width: 600px)"
            srcset="/public/img/about_side view.jpeg"
          />
          <!--Tablet-->
          <source
            media="(min-width: 601px)"
            srcset="/public/img/about_side view.jpeg"
          />
          <!--Desktop-->
          <source
            media="(min-width: 1024px)"
            srcset="/public/img/about_side view.jpeg"
          />
          <img
            aria-hidden="true"
            decoding="async"
            src="/public/img/about_side view.jpeg"
            alt="about us"
            width="570"
            height="701"
          />
        </picture>
      </div>
      <svg
        class="cs-wave"
        width="1920"
        height="179"
        viewBox="0 0 1920 179"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M1920 179V91.3463C1835.33 91.3463 1715.47 76.615 1549.2 32.9521C1299.48 -32.3214 1132.77 12.1006 947.32 61.5167C810.762 97.9044 664.042 137 466.533 137C331.607 137 256.468 123.447 188.082 111.113C130.974 100.812 78.5746 91.3609 0 91.3609V179H1920Z"
          fill="white"
        ></path>
      </svg>
    </section>
  </body>
</html>
